body{
    background-color: #23272A !important;
}
#logo{
	text-align: center;
}
#quemsou{
	background-image: url("../img/sobremim-cortada.jpg");
	border-radius: 100%;
}
#texto
#logo-baixo
@keyframes